<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>798074269105-2895sbluuchonr133cd7shb0o30dun38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.798074269105-2895sbluuchonr133cd7shb0o30dun38</string>
	<key>API_KEY</key>
	<string>AIzaSyA9D4-4Vxuhtx7QPux6FaR5uC3mhPS6E1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>798074269105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.falconeta.testNative</string>
	<key>PROJECT_ID</key>
	<string>test-2627</string>
	<key>STORAGE_BUCKET</key>
	<string>test-2627.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798074269105:ios:20315eee629e7e5600e190</string>
	<key>DATABASE_URL</key>
	<string>https://test-2627.firebaseio.com</string>
</dict>
</plist>